<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>A game of rock, paper, scissors...</h1>
  <a href="/rules">I don't know the rules</a>
  
  <%= yield %>
</body>
</html>
